@use "../../../styles/mixins" as mixins;

:host {
    &, > mat-card {
        width: 100%;
        height: 100%;
    }

    mat-card-header {
        background-color: mixins.theme-background-color(background, true);
        padding-bottom: 0.5rem;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding: 1.5rem;
        flex-grow: 1;
        text-align: center;
    }
}