<form #preferencesForm="ngForm" id="preferences-form" (ngSubmit)="onFormSubmit$.next(preferencesForm)">
    @if (!!formModel) {
        <span>
            <mat-checkbox name="checkLatestVersionOnStart"
                          [ngModel]="formModel.checkLatestVersionOnStart ?? true"
                          (ngModelChange)="formModel.checkLatestVersionOnStart = $event">
                Check for app updates on startup
            </mat-checkbox>
        </span>

        <span>
            <mat-checkbox name="verifyProfileOnStart" [(ngModel)]="formModel.verifyProfileOnStart">
                Verify active profile on app startup
                &nbsp;<mat-icon matTooltip="Disable this if verification is taking too long during startup">help</mat-icon>
            </mat-checkbox>
        </span>

        <span>
            <mat-checkbox name="pluginsEnabled" [(ngModel)]="formModel.pluginsEnabled">
                Enable game plugins
            </mat-checkbox>
        </span>

        <mat-form-field appearance="fill">
            <mat-label>
                Steam Installation Directory
            </mat-label>
            <input matInput type="text" name="steamInstallationDir" [(ngModel)]="formModel.steamInstallationDir">
            <mat-icon matSuffix matTooltip="Only required if Steam is installed to a non-standard location">help</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>App Theme</mat-label>
            <mat-select name="theme" [(ngModel)]="formModel.theme">
                @for (theme of themes; track theme) {
                    <mat-option [value]="theme">
                        {{ theme }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
}
</form>