@if (!!value?.length) {
    <mat-form-field appearance="fill" subscript="false">
        <mat-label>{{ label }}</mat-label>
        <mat-select #valueSelect [value]="0">
            <mat-select-trigger>
                @if (valueSelect.value < value!.length) {
                    @if (editControls) {
                        <ng-container *ngTemplateOutlet="editControls.templateRef; context: { $implicit: this, index: valueSelect.value }" />
                    } @else {
                        <mat-form-field appearance="fill" subscript="false">
                            <input matInput
                                    type="text"
                                    placeholder="Enter Value"
                                    [required]="true"
                                    [disabled]="!!disabled"
                                    [ngModel]="value![valueSelect.value]"
                                    (ngModelChange)="value![valueSelect.value] = $event; entryChange$.emit([valueSelect.value, $event]); valueChange$.emit(value)"
                                    (click)="$event.stopPropagation()"
                                    (keydown)="$event.stopPropagation()">
                        </mat-form-field>
                    }

                    @if (resizable) {
                        <div class="entry-actions">
                            <button type="button"
                                    mat-icon-button
                                    color="accent"
                                    matTooltip="Add New Entry"
                                    (click)="addEntry(undefined, valueSelect); $event.stopPropagation()">
                                <mat-icon>add</mat-icon>
                            </button>

                            <button type="button"
                                    mat-icon-button
                                    color="warn"
                                    matTooltip="Delete Entry"
                                    (click)="deleteEntry(valueSelect.value); $event.stopPropagation()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    }
                }
            </mat-select-trigger>

            @for (entry of value; track $index) {
                <mat-option [value]="$index">
                    {{ valueField ? entry[valueField] : entry }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
} @else if (resizable) {
    <button mat-raised-button (click)="addEntry()">
        <mat-icon color="accent">add</mat-icon>
        Add {{ label }}
    </button>
}
