@use "@angular/material" as mat;
@use "../mixins";

@mixin declare($selector, $primary, $accent, $warn, $is-dark) {

    #{$selector} {

        .select-with-controls > .controls {
            background: var(--mat-form-field-filled-container-color);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-color: var(--mat-form-field-filled-active-indicator-color);
        }
    }
}