@use "@angular/material" as mat;
@use "../mixins";

@mixin declare($selector, $primary, $accent, $warn, $is-dark) {

    #{$selector} {

        .select-header-buttons {
            background: var(--mat-form-field-filled-container-color);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-color: var(--mat-form-field-filled-active-indicator-color);
        }

        .config-file-editor {
            background-color: mixins.theme-background-color(card, $is-dark);
            color: mixins.theme-foreground-color(text, $is-dark);
        }

        #profile-game-title {
            background: var(--mat-form-field-filled-container-color);
        }

        #profile-actions {
            mat-panel-title {
                font-size: 1.25rem;
                color: mixins.theme-foreground-color(text, $is-dark);
            }
        }

        #log-pane {
            border-color: mixins.theme-foreground-color(text, $is-dark);
        }

        mat-card-title.sticky-title {
            background-color: mixins.theme-background-color(card, $is-dark);
        }
    }
}