@use "@angular/material" as mat;

@mixin declare($selector, $primary, $accent, $warn, $is-dark) {

    #{$selector} {

        .external-files {
            background: var(--mat-form-field-filled-container-color);
            border-width: 1px;
            border-style: solid;
            border-color: var(--mat-form-field-filled-active-indicator-color);
        }
    }
}
